#main_header
{
	position : relative;
	/* 중앙 정렬 */
	width : 100%; margin : 0 auto;
	/* 절대 좌표  */
	height : 150px;
	margin-bottom: 50px;
}
#main_header > .head > #logo
{
		position : absolute;
		left: 50px;
}
#main_header > .head > #title
{
	position : absolute; 
	left : 200px;
	top : 60px;
}
/* 헤더 상단 nav */
#main_header > .head > #main_tnb
{
	position : absolute;
	right : 0;
	top : 0;
}
#main_tnb > ul
{
	overflow : hidden;
}
#main_tnb > ul > li
{
	float : left;
}
#main_tnb > ul > li > a
{
	display : block;
	padding : 2px 10px;
	border : 1px solid black;
}
#main_tnb > ul > li > a:hover
{
	background : black;
	color : white;
}
/* --------------- */
.nav
{
	position :relative;
	overflow : hidden;
	border-bottom : 1px solid black;
	background : #32394A;
	
	top : 160px;
	
}
#main_gnb > ul.left
{
	overflow : hidden;
	float : left;
}
#main_gnb > ul.right
{
	overflow : hideen;
	float : right;
}
#main_gnb > ul.left > li
{
	float : left;	
}
#main_gnb > ul.right > li
{
	float : right;	
}
#main_gnb a
{
	/* 레이아웃 설정 */
	display : block;
	padding : 10px 20px;
	
	/* 색상 설정 */
	border-left: 1px solid #5f6673;
	border-right: 1px solid #242A37;
	color: white;
	font-weight: bold;
}

#main_article
{
	position : relative;
	/* 중앙 정렬 */
	width : 100%;
	margin : 0 auto;
	/* 수평레리아웃 구성 */
	overflow : hidden;
}

#content > #product_section
{
	margin-top : 20px
	
}

#title
{	
	font-family: 'Henny Penny', cursive;
	font-size : 50px;
}

#main_footer
{
	position : relative;
	/* 중앙 정렬 */
	width: 100%;
	margin: 0 auto;
	margin-bottom: 10px;
	
	/* 테두리 */
	box-sizing : border-box;
	padding: 10px;
	border: 1px solid black;
	
	bottom : 0px;
	/* 글자 정렬 */
	text-align: center;
}