@charset "utf-8";

*
{
	margin:0px;
	padding:0px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
{
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table 
{
	border-collapse: collapse;
	border-spacing: 0;
}

/* 헤더 */
#main_header
{
	position : relative;
	/* 중앙 정렬 */
	width : 100%; margin : 0 auto;
	/* 절대 좌표  */
	height : 150px;
	margin-bottom: 50px;
}
#main_header > .head > #logo
{
		position : absolute;
		left: 50px;
}
#main_header > .head > #title
{
	position : absolute; 
	left : 200px;
	top : 60px;
}
#main_header > .head > .search_bar
{
	position : absolute;
	height : 40px;
	width : 500px;
	border : 1px solid #1b5ac2;
	background : #ffffff;
	left : 550px;
	top : 65px;
}
#main_header > .head > .search_bar > .searchform > #search_text
{
	font-size : 16px;
	width : 300px;
	padding : 10px;
	border :0px;
	outline : none;
	float : left;
}
#main_header > .head > .search_bar > .searchform > #search_button
{
	width : 50px;
	height : 100%;
	border :0px;
	background : #1b5ac2;
	outline : none;
	float : right;
	color : black;
}
/* 헤더 상단 nav */
#main_header > .head > #main_tnb
{
	position : absolute;
	right : 0;
	top : 0;
}


#main_tnb > ul
{
	overflow : hidden;
}
#main_tnb > ul > li
{
	float : left;
}
#main_tnb > ul > li > a
{
	display : block;
	padding : 2px 10px;
	border : 1px solid black;
}
#main_tnb > ul > li > a:hover
{
	background : black;
	color : white;
}
/* --------------- */
.nav
{
	position :relative;
	overflow : hidden;
	border-bottom : 1px solid black;
	background : #32394A;
	height : 40px;
	top : 160px;
	
}
#main_gnb > ul.left
{
	overflow : hidden;
	float : left;
}
#main_gnb > ul.right
{
	overflow : hideen;
	float : right;
}
#main_gnb > ul.left > li
{
	float : left;	
}
#main_gnb > ul.right > li
{
	float : right;	
}
#main_gnb a
{
	/* 레이아웃 설정 */
	display : block;
	padding : 15px 20px;
	
	/* 색상 설정 */
	border-left: 1px solid #5f6673;
	border-right: 1px solid #242A37;
	color: white;
	font-weight: bold;
	height : 50px;
}

#main_article
{
	position : relative;
	/* 중앙 정렬 */
	width : 100%;
	margin : 0 auto;
	/* 수평레리아웃 구성 */
	overflow : hidden;
}

#content > #product_section
{
	margin-top : 10px
	
}

#content > #board_section >#notice_
{
	display : inline-block;
	width : 30%;
}
#content > #board_section >#free_
{
	display : inline-block;
	width : 30%;
}
#content > #board_section >#suggestion_
{
	display : inline-block;
	width : 30%;
}

#title
{	
	font-family: 'Henny Penny', cursive;
	font-size : 50px;
}

#main_footer
{
	position : relative;
	/* 중앙 정렬 */
	width: 100%;
	margin: 0 auto;
	margin-bottom: 10px;
	
	/* 테두리 */
	box-sizing : border-box;
	border: 0px solid black;
	bottom : 0px;
	background-color: #E6E6E6;
}

#main_footer > #footer_descrip
{
	padding-top : 20px;
	text-align: left;
	font-size:12px;
	color:gray;
	line-height:18px;
	padding-bottom : 20px;
}
#main_footer > #footer_nav
{
	position :relative;
	overflow : hidden;
	background : #D8D8D8;
	padding : 0px;
	height : 30px;
}
#main_footer > #footer_nav > ul
{
	overflow : hidden;
}
#main_footer > #footer_nav > ul > li
{
	float : right;
	text-align : center;
}
#main_footer > #footer_nav > ul >  #rep
{
	width : 100px;
}
#main_footer > #footer_nav > ul > #use
{
	width : 100px;
	border-left : 1px solid gray;
}
#main_footer > #footer_nav > ul > #pr 
{
	width : 150px;
	border-left : 1px solid gray;
}
#main_footer > #footer_nav > ul > li > a
{
	display : block;
	padding-top : 5px;
	height : 30px;
	
}

.slide{background : gray; text-align:center; position:relative; width: 1500px; margin: 0 auto; display: block; height:350px;}

.slide_ul{display: block;}
.slide_ul>li{position:absolute; top:0; left:0; list-style:none;z-index:10; display: block;}
.slide_ul>li img{}
li{list-style: none;}

.show{display:block;}


/* 하단 동그라미 버튼 CSS*/
.slide_btn>li{float: left; margin:0 5px 5px 0;}
.slide_btn>li>a{display:block; width: 14px; height:14px; background: url(../images/spr.png) -24px -125px; text-indent: -999em; }
.slide_btn>li>a.active{background-position: 0 -126px;}

.slide_btn{z-index:100; position:absolute; right: 0; bottom:0; }

.slide_btn:after{content:''; display:block; clear:both;}
.slide_btn{*zoom:1;}

/*  ---------------------------------*/

img#mouseover 
{
	display: lnline-block;
	width: 45px;
	height: 45px;
	background: url('./image/login.png') no-repeat;
}

img#mouseover:hover {
	background: url('./image/logout.png') no-repeat;
}

img#mouseover2 {
	display: lnline-block;
	width: 45px;
	height: 45px;
	background: url('./image/logout.png') no-repeat;
}

img#mouseover2:hover {
	background: url('./image/login.png') no-repeat;
}

li#menubar {

	width: 150px;
	padding: 0px 0px;
	float: left;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	background: #000;
}

li#menubar:hover {

	background: #888;
	color: #555;
}

#menu {
  width: 420px;
  margin: 0 auto;
}
#menu div {

  position: relative;
  width: 28%;
  float: left;
  margin: 1%;
  text-align: center;
  
}
#menu div a {

    display: block;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.arrow_box {
  display: none;
  position: absolute;
  padding: 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;  
  border-radius: 8px;
  background: #333;
  color: #fff;
}

.arrow_box:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border: solid transparent;
  border-color: rgba(51, 51, 51, 0);
  border-bottom-color: #333;
  border-width: 10px;
  pointer-events: none;
  content: " ";
}

img:hover + p.arrow_box {
  display: block;
}

#drop ul
{
	list-style:none;
}

#drop ul li
{
	background-color:#35424a;
	border:1px solid #fff;
	width:100px;
	height:40px;
	line-height:40px;
	text-align:center;
	float:left;
	position:relative;
}

#drop ul li a
{
	text-decoration:none;
	color:white;
	display:block;
}

#drop ul li a:hover
{
	background-color:#e8491d;
}

#drop ul ul
{
	display:none;
	position:absolute;
}

#drop ul li:hover >ul
{
	display:block;
}

/* 관리자 */
#admin_nav
{
	display : inline-block;
	width : 30%;
}
admin_body
{
	display : inline-block;
	width : 70%;
}
